.ant-carousel .slick-slide {
  text-align: center;
  height: 160px;
  line-height: 30px;
  background: #d8e7e4 !important;
  overflow: hidden;
  padding: 20px;
}

.ant-carousel .slick-slide h3 {
  color: black !important;
  font-size: 40px;
}

.ant-carousel .slick-slide p{
  margin: 0;
  color: black;
}
