.Event-borders{
  box-shadow: none;
  border:1px solid #D3D3D3;
  padding: 15px;
  margin-left: 0px;
}
.eventBanerDemo{
    /* background-position: 50% 50%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./Images/EventBanner.PNG');
    top: 0px;
    left: 0px;
    /* height: 350px; */
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}
.mainEventBanerPadMarg{
  padding-top: 20vw;
  padding-bottom: 2vw;
}
.BanerSmalTextCsS{
  margin:0;
  margin-top: 0.7vw;
  color: white;
  font-size: 15px;
  opacity: .9;
  font-weight: 400;
}
.eventDateBaner{
  margin:0;
  margin-top: 0.2vw;
  color: white;
  font-size: 15px;
  opacity: .7;
}

.hostedByPara{
  font-weight: bolder;
  font-size: 16px;
  margin-top: 1.5vw;
}
.CountText{
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  margin-left: 0.5vw;
}

.timerDicCsS{
  padding: 1vw;
  background: white;
  margin: 1vw;
  border-radius: 50vw !important;
}
.dateTextTim{
  margin: 0px 0px -10px 0px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (min-device-width: 330px) and (max-device-width: 767px){
  .EventBanerTextCsS{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    margin-top: -6vw;
  }
  .timerDivPadd{
    padding-bottom: 4vw; 
    padding-top: 7vw;
  }
  .MainDivCount{
    background: #6c1cff!important;
    padding: 15px;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    border-radius: 3px;
  }
  .timerTExt{
    margin: 0px;
    color: black;
    font-weight: bolder;
    font-size: 14px;
  }
  .eventMDayBaner{
    margin:0;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
    color: white;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
  .EventBanerTextCsS{
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-top: -0.9vw;
  }
  .timerDivPadd{
    padding-bottom: 2vw; 
    padding-top: 2vw;
  }
  .MainDivCount{
    background: #6c1cff!important;
    padding: 15px;
    margin-left: 1vw;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    border-radius: 3px;
  }
  .timerTExt{
    margin: 0px;
    color: black;
    font-weight: bolder;
    font-size: 14px;
  }
  .eventMDayBaner{
    margin:0;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 600;
    color: white;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1365px){
  .EventBanerTextCsS{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-top: -0.9vw;
  }
  .timerDivPadd{
    padding-bottom: 2vw; 
    padding-top: 2vw;
  }
  .MainDivCount{
    background: #6c1cff!important;
    padding: 15px;
    margin-left: 1vw;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    border-radius: 3px;
  }
  .timerTExt{
    margin: 0px;
    color: black;
    font-weight: bolder;
    font-size: 14px;
  }
  .eventMDayBaner{
    margin:0;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
    color: white;
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1600px){
  .EventBanerTextCsS{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-top: -0.9vw;
  }
  .timerDivPadd{
    padding-bottom: 2vw; 
    padding-top: 2vw;
  }
  .MainDivCount{
    background: #6c1cff!important;
    padding: 15px;
    margin-left: 1vw;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    border-radius: 3px;
  }
  .timerTExt{
    margin: 0px;
    color: black;
    font-weight: bolder;
    font-size: 14px;
  }
  .eventMDayBaner{
    margin:0;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
    color: white;
  }
}
@media only screen and (min-device-width: 1600px){
  .EventBanerTextCsS{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-top: -0.7vw;
  }
  .timerDivPadd{
    padding-bottom: 2vw; 
    padding-top: 2vw;
  }
  .MainDivCount{
    background: #6c1cff!important;
    padding: 15px;
    margin-left: 1vw;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    border-radius: 3px;
  }
  .timerTExt{
    margin: 0px;
    color: black;
    font-weight: bolder;
    font-size: 17px;
  }
  .eventMDayBaner{
    margin:0;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 600;
    color: white;
  }
}
.eventBanersty{
  height: auto;
  width: 100%;
  margin: 15px 1px 20px 0px;
  border-radius: 1vw !important;
}
.btnCallEventbaner{
  width: 100%;
  padding: 1vw;
  font-size: 17px;
  background: linear-gradient(90deg, rgba(35,106,75,1) 0%, rgba(34,75,105,1) 100%);
  color: white;
  border:none;
  border-radius: 5px !important;
}
.eventtabIcon{
  font-size: 22px;
  color:#236A4B;
}

.blurimage{


}

.blurimage img{

  }


.eventdetail{
  margin-top: -155px;
}

.eventdetail h2{
  color: white;
  margin: 0;
  fontWeight: bold;
}

.whitee{
  color: white;
  margin: 0;
  text-align: left;
  font-size: 14px;
}

.whitee p{
  margin-bottom: 2px;
}

.display{
  font-size: 20px;
    color: rgb(55, 169, 155);
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}

.gray{
  background-color: currentColor;
  border-radius: 5px !important;
  border: 1px solid currentColor;
  padding: 10px;
}

.gray p{
  color: white;
  margin: 0;
  font-size: 14px;
}

.clickbutton{
  font-size: 16px;
    color:rgb(55, 169, 155);
    background: white;
    border: 2px solid white;
    padding: 0px;
    border-radius: 5px !important;
    position: relative;
    margin-left: 12px;
}
.wrimagecard-topimage_headerEvent1{
  background-image: url("../../images/Events/art.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent2{
  background-image: url("../../images/Events/career.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent3{
  background-image: url("../../images/Events/charity.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent4{
  background-image: url("../../images/Events/competition.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent5{
  background-image: url("../../images/Events/fest.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent6{
  background-image: url("../../images/Events/fitness.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent7{
  background-image: url("../../images/Events/food.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent8{
  background-image: url("../../images/Events/job.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent9{
  background-image: url("../../images/Events/kid\ friendly.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent10{
  background-image: url("../../images/Events/kidFriendly.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent11{
  background-image: url("../../images/Events/literary.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent12{
  background-image: url("../../images/Events/singles.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent13{
  background-image: url("../../images/Events/outdoor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent14{
  background-image: url("../../images/Events/sales.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent15{
  background-image: url("../../images/Events/singles.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
.wrimagecard-topimage_headerEvent16{
  background-image: url("../../images/Events/tech.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px;
}
@media only screen and (min-device-width: 330px) and (max-device-width: 767px){
  .EventDetailTopBanner{
    width: 100%;
    height: 260px;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
  .EventDetailTopBanner{
    width: 100%;
    height: 280px;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1365px){
  .EventDetailTopBanner{
    width: 100%;
    height: 41vh;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1600px){
  .EventDetailTopBanner{
    width: 100%;
    height: 55vh;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 1600px){
  .EventDetailTopBanner{
    width: 100%;
    height: 42vh;
    position: absolute;
    filter: brightness(0.5);
  }
}