.Event-borders{
  box-shadow: none;
  border:1px solid #D3D3D3;
  padding: 15px;
  margin-left: 0px;
}
.eventBanerDemo{
    /* background-position: 50% 50%; */
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('./Images/EventBanner.PNG');
    top: 0px;
    left: 0px;
    /* height: 350px; */
    width: 100%;
    overflow: hidden;
    pointer-events: none;
}
.mainEventBanerPadMarg{
  padding-top: 20vw;
  padding-bottom: 2vw;
}
.BanerSmalTextCsS{
  margin:0;
  margin-top: 0.7vw;
  color: white;
  font-size: 15px;
  opacity: .9;
  font-weight: 400;
}
.eventDateBaner{
  margin:0;
  margin-top: 0.2vw;
  color: white;
  font-size: 15px;
  opacity: .7;
}
.eventDayBaner{
  margin:0;
  font-size: 20px;
  white-space: nowrap;
  font-weight: 600;
  color: white;
}
.hostedByPara{
  font-weight: bolder;
  font-size: 16px;
  margin-top: 1.5vw;
}
.CountText{
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  margin-left: 0.5vw;
}

.timerDicCsS{
  padding: 1vw;
  background: white;
  margin: 1vw;
  border-radius: 50vw !important;
}
.timerTExt{
  margin: 1vw 0vw 0vw 0.5vw;
}
@media only screen and (min-device-width: 330px) and (max-device-width: 767px){
  .EventBanerTextCsS{
    color: white;
    font-size: 30px; 
    font-weight:bold;
    margin: 0;
  }
  .MainDivCount{
    background: #6c1cff!important;
    padding: 15px;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    border-radius: 3px;
  }
}
@media only screen and (min-device-width: 768px){
  .EventBanerTextCsS{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    margin-top: -0.9vw;
  }
  .MainDivCount{
    background: #6c1cff!important;
    padding: 15px;
    margin-left: 1vw;
    margin-bottom: 25px;
    -webkit-transition: box-shadow .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.07);
    border-radius: 3px;
  }
}
.btnCallEventbaner{
  width: 100%;
  padding: 1vw;
  font-size: 17px;
  background: linear-gradient(90deg, rgba(35,106,75,1) 0%, rgba(34,75,105,1) 100%);
  color: white;
  border:none;
  border-radius: 5px !important;
}
.eventtabIcon{
  font-size: 22px;
  color:#236A4B;
}

.blurimage{


}

.blurimage img{

  }


.eventdetail{
  margin-top: -155px;
}

.eventdetail h2{
  color: white;
  margin: 0;
  fontWeight: bold;
}

.whitee{
  color: white;
  margin: 0;
  text-align: left;
  font-size: 14px;
}

.whitee p{
  margin-bottom: 2px;
}

.display{
  font-size: 20px;
    color: rgb(55, 169, 155);
    display: inline;
    margin-left: 10px;
    font-weight: bold;
}

.gray{
  background-color: currentColor;
  border-radius: 5px !important;
  border: 1px solid currentColor;
  padding: 10px;
}

.gray p{
  color: white;
  margin: 0;
  font-size: 14px;
}

.clickbutton{
  font-size: 16px;
    color:rgb(55, 169, 155);
    background: white;
    border: 2px solid white;
    padding: 0px;
    border-radius: 5px !important;
    position: relative;
    margin-left: 12px;
}
