  .st0{fill:#8DC63F;stroke:#000000;stroke-miterlimit:10;}
  .st1{fill:none;stroke:#010101;stroke-miterlimit:10;}
  .st2{fill:#010101;}
  .st3{font-family:'Tahoma-Bold';}
  .st4{font-size:5px;}
  .st5{fill:#F7941E;}
  .st6{fill:#00AEEF;}
  .st7{fill:#ED1C24;}
  .st8{font-size:10.5600004px;}
  .st9{fill:#FFFFFF;}
  .st10{font-size:15px;}
  .st11{font-size:3.9192863px;}
  .st12{fill:'black';}
  .st20{fill:#8DC63F;stroke:#000000;stroke-miterlimit:10;}
  .st21{fill:none;stroke:#010101;stroke-miterlimit:10;}
  .st22{fill:#010101;}
  .st23{font-family:'Tahoma-Bold';}
  .st24{font-size:10.5600004px;}
  .st25{fill:#FFFFFF;}
  .st26{font-size:15px;}
  .st27{font-size:3.9192901px;}
  .st28{fill:#ED1C24;}
  .st29{fill:#00AEEF;}
  .st30{fill:#F7941E;}
  .st31{fill:gray;}
