.st0{fill:#8DC63F;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:none;stroke:#010101;stroke-miterlimit:10;}
.st2{fill:#010101;}
.st3{font-family:'Tahoma-Bold';}
.st4{font-size:3.5834713px;}
.st5{fill:#C75B17;}
.st6{fill:#F7941E;}
.st7{fill:#2F77B7;}
.st8{fill:#00AEEF;}
.st9{fill:#EF7B7E;}
.st10{fill:#ED1C24;}
.st11{font-size:7.5682917px;}
.st12{fill:#FFFFFF;}
.st13{font-size:10.7504139px;}
.st14{font-size:2.8089325px;}
.st15{font-size:7px;}
.st16{fill:#8DC63F;stroke:#000000;stroke-miterlimit:10;}
.st17{fill:none;stroke:#010101;stroke-miterlimit:10;}
.st18{fill:#00AEEF;}
.st19{fill:#ED1C24;}
.st20{fill:#010101;}
.st21{font-family:'Tahoma-Bold';}
.st22{font-size:7.5682917px;}
.st23{fill:#FFFFFF;}
.st24{font-size:10.7504139px;}
.st25{font-size:2.8089325px;}
.st26{fill:#F7941E;}
.st27{fill:black;}
.st28{fill:gray;}

.bookedTooltip, .availableTooltip, .basicTooltip {
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 999;
  /*height: 80px;*/
  /*background-color: gray;*/
  line-height: 30px;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px !important;
  box-shadow: 0 0 0 1px #eee;
  /*transform(translateX(-50%));*/
  display: none;
}
.active {
  display: block;
}
.bookedTooltip:after, .availableTooltip:after, .basicTooltip:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  width: 0;
  height: 0;
  /*background-color: gray;*/
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}
.paddingZero{
  padding: 0px;
}
