.firstfold{
  padding: 25px;
  margin-top: 0px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  text-decoration: lin

}

.media-object{
  border-radius: 50px;
}

.row {
  padding: 15px;
}

.media-body{
  padding-top: 15px;
}
.popular_c{
	font-size:26px;
	font-weight: bold;
	color:black;
}
.table_popular{
	text-align: left;
}
.margin_right_c{
	margin-right:10px;
	color: black;
    font-weight: bold;
    font-size: 16px;

}
.list_style_c{
	list-style: none;
  cursor: pointer;

}
.color_b{
	color:black;
}
.jambo_text
{
  font-weight: bolder;
    text-align: left;
    font-size: 40px;
    line-height: 45px;
    padding-top: 50px;
    font-family: 'Source Sans Pro' !important;
}
.jambo_img
{
	height: 250px;
	width: 380px;
}
.card_border{
	    border: 1px solid #8080804a;
}
.under_jumbo_text{
	font-family: 'Source Sans Pro', sans-serif;
}
