body{margin-top:20px;
    /*background:#eee*/
}
/* E-commerce */
.secondfold{
  padding: 10px;
  background-color: white;
}

.product-box {
  padding: 25px;
  border: 1px solid #e7eaec;
}
/*.product-box:hover,
.product-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}*/

.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
  background-color: #ffff;
  margin-top: 5px;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.product-name {
  font-size: 16px;
  font-weight: 600;
  color: #676a6c;
  display: block;
  margin: 2px 0 5px 0;
}
.product-name:hover,
.product-name:focus {
  color: #1ab394;
}
.product-price {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  background-color: #f5f5f5;
  padding: 6px 12px;
  position: absolute;
  top: -58px;
  left: 15px;
  width: 80px;
}
.product-detail .ibox-content {
  padding: 30px 30px 50px 30px;
}
.image-imitation {
  background-color: #f8f8f9;
  text-align: center;
  padding: 200px 0;
}
.product-main-price small {
  font-size: 10px;
}
.product-images {
  margin: 0 20px;
}

.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 10px;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: whitesmoke;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #whitesmoke;
  color: inherit;
  padding: 10px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}
.text-alignment{
  float: left;

}
.card-button{
  font-size: 14px;
  font-weight: 600;
  color: #696969;
  padding: 6px;
  position: absolute;
  top: 115px;
  left: 30px;
  width: 160px;
  border-radius: 10px;
}

.text{
  margin-left: 20px;
  overflow: hidden;
  margin-top: -20px;
  }

.cust-margin{
  margin-top:32px;
  margin-bottom:4px;
  padding-left: 60px;
}

.categories-on-card{
  font-size: 14px;
  font-weight: 500;
  background-color:     #000000;
  padding: 5px;
  top: 20px;
  border-radius: 5px;
  color: #ffff;
}

.product-imitation {
  margin-bottom:20px;
  padding:0px 0px;
}

.product-imitation .card2{

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;


}

.product-imitation .card2 img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  /*height: 300px;*/
}
.location-padding{
margin-top: -75px;
}

.buyicon {
    position: relative;
    top: 10px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
