.thirdfold{
  padding: 25px;
  
}

.media-object-2{
  border-radius: 50px;
  align-content: center;
}

.row {
  padding: 15px;
}

.media-body{
  padding-top: 15px;
}

.text-white{
  color:	#FFFFFF;
}
