.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: rgb(55, 169, 155);
    border: 1px solid rgb(55, 169, 155);
    border-radius: 5px !important;
}
