.categoriesbars{
  background-color:whitesmoke;
  width:97%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.flex{
  display: flex;
}

.btn3-success{
  background-color: #008080;
  color: white;
  margin: 2px 0 2px 0;
  margin-right: 2px;
}
.btn3-success:hover{
  background-color: #008080;
  color: white;

}
.marginLeft{
  margin-left: -13px;
}
