.featuredbox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  background-color: whitesmoke;
  border: 2px solid whitesmoke;
  width: 89%;
  border-radius: 10px;
}

.featuredbox-content {
  background-color: #whitesmoke;
  color: inherit;
  padding: 10px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  border-radius: 10px;
}

.featuredjob-box {

}
.featuredjob-box:hover,
.featuredjob-box.active {
  /*border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;*/
}

.featuredjob-imitation {
  margin-bottom:20px;
  padding:0px 0px;
}

.featuredjob-imitation .card2{

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius:2px;

}

.featuredjob-imitation .card2 img {
    position: static;
   bottom: 22%;
   right: 8%;
   width: 100%;
   z-index: 8;
   padding: 6px 6px 0 6px;
   border-radius: 5px;
   height: 200px;
}
.jobcard-button{
  font-size: 14px;
  font-weight: 600;
  color: #696969;
  padding: 6px;
  position: absolute;
  top: 60px;
  left: 35px;
  width: 160px;
  border-radius: 10px;
}

.jobcategories-on-card{
  font-size: 14px;
  font-weight: 500;
  background-color:     #000000;
  padding: 5px;
  top: 20px;
  border-radius: 5px;
  width: 110px;
  color: #ffff;
}

.customjob-margin{
  margin-top:0px;
  margin-bottom:0px;
  padding-left: 5px;
}

.textforjob{
  margin-left: 5px;
  overflow: hidden;
  margin-top: -20px;
  display: inline;
  }

.jobdetail-desc {
  padding: 20px;
  position: relative;
  background-color: #ffff;
  margin-top: 5px;
  border-radius: 0;
}
.glyphicom{
  margin-left: -2px;
  display: inline;
}

.btn2{
  margin-top: 15px;
  display: inline;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 8px;
  color:#ffff;


}

.btn2-success{
  background-color: #37a99b;
  color: white;
  margin: 2px 0 2px 0;
}
.btn2-success:hover{
  background-color: #37a99b;
  color: white;
  margin: 2px 0 2px 0;
}

.button2{
  margin-top: 15px;
  display: inline;
  margin-left: -10px;
}
.heading-wight{
  font-family: "Source-bold" ;
font-weight: 600;
margin: 0 0 5px 0;
padding: 0;
}
