.featuredbox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
  background-color: whitesmoke;
  border-radius: 10px;
}

.featuredbox-content {
  background-color: #whitesmoke;
  color: inherit;
  padding: 10px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.featuredjob-box {
  padding: 0;
  border: 1px solid #e7eaec;
}
.featuredjob-box:hover,
.featuredjob-box.active {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 3px 7px 0 #a8a8a8;
  -moz-box-shadow: 0 3px 7px 0 #a8a8a8;
  box-shadow: 0 3px 7px 0 #a8a8a8;
}

.featuredjob-imitation {
  margin-bottom:20px;
  padding:0px 0px;
}

.featuredjob-imitation .card2{

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}

.featuredjob-imitation .card2 img {
  position: static;
   bottom: 22%;
   right: 8%;
   width: 100%;
   height: 200px;
   z-index: 8;
}
.jobcard-button{
  font-size: 14px;
  font-weight: 600;
  color: #696969;
  padding: 6px;
  position: absolute;
  top: 60px;
  left: 35px;
  width: 160px;
  border-radius: 10px;
}

.jobcategories-on-card{
  font-size: 14px;
  font-weight: 500;
  background-color:     #000000;
  padding: 5px;
  top: 20px;
  border-radius: 5px;
  width: 110px;
  color: #ffff;
}

.customjob-margin{
  margin-top:32px;
  margin-bottom:4px;
  padding-left: 20px;
}

.textforjob{
  margin-left: 5px;
  overflow: hidden;
  margin-top: -20px;
  display: inline;
  }

.jobdetail-desc {
  padding: 20px;
  position: relative;
  background-color: #ffff;
  margin-top: 5px;
}
.glyphicom{
  margin-left: 120px;
  display: inline;
}
