.jobIconbox{
	background: #fff;
	box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	border-radius: 4px;
	transition: all 0.3s ease;
	margin-top: 0;
		margin-bottom: 1.5rem;
		position: relative;
		cursor: pointer;
}

.jobIconbox:hover{
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
	cursor:pointer;
}

.jobIconbox p{
	display: inline;
    margin-left: 10px;
    font-size: 18px;
		font-family: 'Source Sans Pro', sans-serif !important;
}

.seemore{
	text-align: right;
	color: black;
	font-size: 14px;
	font-weight: 600;
}

.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px -2px rgba(63,90,96,0.5);
    border-radius: 4px;
    /* transition: all 0.3s ease; */
}
.wrimagecard:hover{
	margin-top: 0;
    margin-bottom: 1.5rem;
    position: relative;
    background: #fff;
    /* box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15); */
    border-radius: 4px;
    transition: all 0.3s ease;
}
.jobIconbox .fa{
	position: relative;
	width:200px !important;
}

.jobIconbox-topimage_header{
padding: 10px;
}
a.jobIconbox:hover, .jobIconbox-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
    cursor:pointer;
}
.jobIconbox-topimage a {
	font-size: 14px;
    display: inline;
}

.wrimagecard-topimage_headerAccounting{
    background-image: url("../../images/Jobs/accounting.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerAdmin{
    background-image: url("../../images/Jobs/admin.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerCustomerService{
    background-image: url("../../images/Jobs/customer-service.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerExecutive{
    background-image: url("../../images/Jobs/executive.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerFreelancer{
    background-image: url("../../images/Jobs/freelancer.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerHealthCare{
    background-image: url("../../images/Jobs/healthcare.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerMarketing{
    background-image: url("../../images/Jobs/marketing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerRetail{
    background-image: url("../../images/Jobs/retail.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerTransport{
    background-image: url("../../images/Jobs/transportation.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerScienceNBio{
    background-image: url("../../images/Jobs/science-biotech.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerNonProfit{
    background-image: url("../../images/Jobs/non-profit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerManufeaturing{
    background-image: url("../../images/Jobs/manufacturing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerInternShip{
    background-image: url("../../images/Jobs/internship.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerInformation{
    background-image: url("../../images/Jobs/information-technology.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerHumanResource{
    background-image: url("../../images/Jobs/human-resource.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerHospitality{
    background-image: url("../../images/Jobs/hospitality.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerGovernMent{
    background-image: url("../../images/Jobs/government.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerFranchise{
    background-image: url("../../images/Jobs/franchise.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerEngineering{
    background-image: url("../../images/Jobs/engineering.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}
.wrimagecard-topimage_headerDiversity{
    background-image: url("../../images/BusinessListing/hr-consultant.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
}