.jobIconbox{
	background: #fff;
	box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
	border-radius: 4px;
	transition: all 0.3s ease;
	margin-top: 0;
		margin-bottom: 1.5rem;
		position: relative;
		cursor: pointer;
}

.jobIconbox:hover{
	box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
	cursor:pointer;
}

.jobIconbox p{
	display: inline;
    margin-left: 10px;
    font-size: 18px;
}

.seemore{
	text-align: right;
	color: black;
	font-size: 14px;
	font-weight: 600;
}

.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.jobIconbox .fa{
	position: relative;
}

.jobIconbox-topimage_header{
padding: 10px;
}
a.jobIconbox:hover, .jobIconbox-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
    cursor:pointer;
}
.jobIconbox-topimage a {
	font-size: 14px;
    display: inline;
}
