.jobdetail-page{
  /* padding-top:30px;
  padding-bottom: 20px; */
}
.btnSet{
  padding: 0px;
}

@media only screen and (min-device-width: 330px) and (max-device-width: 767px){
  .JobBannertoP{
    width: 100%;
    height: 300px;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px){
  .JobBannertoP{
    width: 100%;
    height: 300px;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1365px){
  .JobBannertoP{
    width: 100%;
    height: 43vh;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 1366px) and (max-device-width: 1600px){
  .JobBannertoP{
    width: 100%;
    height: 55vh;
    position: absolute;
    filter: brightness(0.5);
  }
}
@media only screen and (min-device-width: 1600px){
  .JobBannertoP{
    width: 100%;
    height: 41vh;
    position: absolute;
    filter: brightness(0.5);
  }
}
