.margin-left{
  margin-left: 20px;
  padding-top: 20px;
  font-weight: bold;
}

.box-for{
  background-color: #8080801f;
  margin-left: 13px;
  width: 100%;

}

.paddingTop{
  padding-top: 10px;
}

.hr-class{
  width: 90%;
   margin-left: auto;
   margin-right: auto;
   border-style: inset;
   border-width: 1px;
}

.marginleft-paragraph{
  margin-left: 20px;
}
