.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}

.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 50%;
    height: 50%;
    display: inline;
}
.card_room{
    /* box-shadow: none; 
    border: 1px solid rgba(128, 128, 128, 0.56); 
    background: white; */
    background-image: url("./RoomImage/home_option11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.card_room:hover{
    /* box-shadow: none; 
    border: 1px solid rgba(128, 128, 128, 0.56); 
    background: white; */
    background: -webkit-gradient-(linear,right top,left top,
    color-stop(0,#236a4b),to(#224b69));
    background: linear-gradient(270deg,#236a4b 0,#224b69);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
    opacity: 0.5;
    
}
.card_room22{
    background-image: url("./RoomImage/home_option22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_room22:hover{
    background: -webkit-gradient-(linear,right top,left top,
    color-stop(0,#236a4b),to(#224b69));
    background: linear-gradient(270deg,#236a4b 0,#224b69);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
    opacity: 0.5;
}
.card_room33{
    background-image: url("./RoomImage/home_option33.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_room33:hover{
    background: -webkit-gradient-(linear,right top,left top,
    color-stop(0,#236a4b),to(#224b69));
    background: linear-gradient(270deg,#236a4b 0,#224b69);
    -webkit-transition: 1s ease-in;
    transition: 1s ease-in;
    opacity: 0.5;
}
.tag111 {
    padding: 4vw 2vw 0.5vw 1.5vw;
}
.option_text{
    color: black;
    font-weight: 600;
}
.option_img
{
    margin-left: -5px; 
    margin-top: -5px; 
    margin-bottom: -5px;
    height: 82px;
    width: 95px;
}
.jambo_text
{
    font-size: 30px;
}
.jambo_img
{
    height: 250px;
    width: 380px;   
}

.romRentForm{
    background: white;
    border-radius: 15px !important;
    padding: 2% 2% 1% 2%;
}