.wrimagecard{
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}

.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 50%;
    height: 50%;
    display: inline;
}
.card_room{
    /* box-shadow: none; 
    border: 1px solid rgba(128, 128, 128, 0.56); 
    background: white; */
    background-image: url("./RoomImage/home_option11.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_room22{
    background-image: url("./RoomImage/home_option22.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card_room33{
    background-image: url("./RoomImage/home_option33.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tag1 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.option_text
{
    color: white;
    padding: 3vw;
    text-align: center;
}
.option_img
{
    margin-left: -5px; 
    margin-top: -5px; 
    margin-bottom: -5px;
    height: 82px;
    width: 95px;
}
.jambo_text
{
    font-size: 30px;
}
.jambo_img
{
    height: 250px;
    width: 380px;   
}